<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EmailFactorySettings" type="Trawick.Common.Email.EmailFactorySettings, Trawick.Common"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>

	<connectionStrings>
		<!--<add name="OrderForm2016" connectionString="data source=web-sql1.trawickinternational.com;initial catalog=OrderForm2016;user id=trawick-sa;password=Tr@w1ckSQL;Connection Timeout=30000000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />-->
		<add name="siAdmin"
			connectionString="data source=web-sql1.trawickinternational.com;initial catalog=siadmin;user id=trawick-sa;password=Tr@w1ckSQL;Connection Timeout=30000000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True"
			providerName="System.Data.SQLClient"/>
		<!--<add name="QuoteEngine" connectionString="data source=web-sql1.trawickinternational.com;initial catalog=QuoteEngine;user id=trawick-sa;password=Tr@w1ckSQL;Connection Timeout=30000000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
		<add name="GBGEDI" connectionString="data source=web-sql1.trawickinternational.com;initial catalog=GBGEDI;user id=trawick-sa;password=Tr@w1ckSQL;Connection Timeout=30000000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
		<add name="SchoolEnroll" connectionString="data source=web-sql1.trawickinternational.com;initial catalog=SchoolEnroll;user id=trawick-sa;password=Tr@w1ckSQL;Connection Timeout=30000000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />

		<add name="siadminEntities" connectionString="metadata=res://*/EnrollmentEntities.csdl|res://*/EnrollmentEntities.ssdl|res://*/EnrollmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=web-sql1.trawickinternational.com;initial catalog=siadmin;user id=trawick-sa;password=Tr@w1ckSQL;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="OrderFormEntities" connectionString="metadata=res://*/OrderFormEntities.csdl|res://*/OrderFormEntities.ssdl|res://*/OrderFormEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=web-sql1.trawickinternational.com;initial catalog=OrderForm2016;persist security info=True;user id=trawick-sa;password=Tr@w1ckSQL;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="QuoteEngineEntities" connectionString="metadata=res://*/QeEntities.csdl|res://*/QeEntities.ssdl|res://*/QeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=web-sql1.trawickinternational.com;initial catalog=QuoteEngine;persist security info=True;user id=trawick-sa;password=Tr@w1ckSQL;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>




  <EmailFactorySettings Name="TrawickDbSender" SystemType="Trawick.Email.TrawickEmailFromDatabaseTableSender, Trawick.Email"></EmailFactorySettings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
